<p-menubar [model]="items"></p-menubar>
<!-- <p-button label="click Home" (click)="mostrar()"></p-button> -->
<router-outlet></router-outlet>

<!-- Lista Usuario -->
<!-- <p-card header="Usuarios">
    <div *ngFor="let usuarios of usuarios" class="card">
        <h3>Nombre:</h3>
        <p>{{usuarios.name}}</p>
        <h3>Contraseña:</h3>
        <p>{{usuarios.password}}</p>
    </div>
</p-card> -->

<!-- Lista Libro -->
<p-card header="Libros">
    <div *ngFor="let libros of libros" class="card">
        <h3>Nombre:</h3>
        <p>{{libros.nombre}}</p>
        <h3>Autor:</h3>
        <p>{{libros.autor}}</p>
        <h3>Editorial:</h3>
        <p>{{libros.editorial}}</p>
        <h3>ISBN:</h3>
        <p>{{libros.ISBN}}</p>
        <img [src]="libros.img" alt="" width="100px">

        <hr>
        <!-- Editar Libro -->
        <button pButton class="p-button-success" icon="pi pi-pencil" (click)="mostrarEditar(libros)"></button>

        <!-- Eliminar Libro -->
        <button pButton class="p-button-danger" icon="pi pi-trash" (click)="mostrarEliminar(libros)"></button>
    </div>
    <!-- Agregar Libro -->
    <button pButton class="p-button-info" label="{{textoBoton}}" (click)="mostrarDialogo()"></button>
</p-card>

<!-- Dialogo de Confirmación -->
<p-dialog header="{{textoBoton}}" [(visible)]="modalVisible" class="formulario">
    <form [formGroup]="libro">
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText formControlName="nombre">
            <label for="float-input">Nombre</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText formControlName="autor"> 
            <label for="float-input">Autor</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText formControlName="editorial"> 
            <label for="float-input">Editorial</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" type="number" pInputText formControlName="ISBN"> 
            <label for="float-input">ISBN</label>
        </span>
        <span class="p-float-label">
            <input id="float-input" type="text" pInputText formControlName="img"> 
            <label for="float-input">Imagen</label>
        </span>
        <span class="p-float-label">
            <img [src]="imagen" alt="Aún no hay imagen">
            <!--
                imagen/* para aceptar cualquier tipo de imagen 
                .jpg .png .gif para especificar el tipo
            -->
            <input type="file" pInputText accept="imagen/*" (change)="cargarImagen($event)">
        </span>
    </form>
    <!-- Enviar nuevo libro -->
    <button pButton class="p-button-info" icon="pi pi-check" (click)="agregarLibro()"></button>
</p-dialog>

<!-- Dialogo Advertencia para Eliminar -->
<p-dialog header="¡¡¡Advertencia!!!" [(visible)]="eliminarVisible">
    <p>
        ¿Estás seguro de eliminar este libro?<br>
    </p>
    <h2 style="text-align: center;">
        {{libroSeleccionado.nombre}}
    </h2>
    <button pButton class="p-button-success" icon="pi pi-check" (click)="borrarLibro()"></button>
    <button pButton class="p-button-danger" icon="pi pi-times" (click)="eliminarVisible = false"></button>
</p-dialog>

<!-- ctrl + k + c -->